In [35]:
!python setup.py sdist

running sdist
running egg_info
creating census_deploy_package.egg-info
writing census_deploy_package.egg-info/PKG-INFO
writing dependency_links to census_deploy_package.egg-info/dependency_links.txt
writing requirements to census_deploy_package.egg-info/requires.txt
writing top-level names to census_deploy_package.egg-info/top_level.txt
writing manifest file 'census_deploy_package.egg-info/SOURCES.txt'
reading manifest file 'census_deploy_package.egg-info/SOURCES.txt'
writing manifest file 'census_deploy_package.egg-info/SOURCES.txt'
warning: sdist: standard file not found: should have one of README, README.rst, README.txt, README.md

running check
warning: check: missing required meta-data: url

creating census-deploy-package-0.1
creating census-deploy-package-0.1/census_deploy_package.egg-info
creating census-deploy-package-0.1/trainer
creating census-deploy-package-0.1/trainer/helper
copying files to census-deploy-package-0.1...
copying setup.py -> census-deploy-package-0.1
copying census_deploy_package.egg-info/PKG-INFO -> census-deploy-package-0.1/census_deploy_package.egg-info
copying census_deploy_package.egg-info/SOURCES.txt -> census-deploy-package-0.1/census_deploy_package.egg-info
copying census_deploy_package.egg-info/dependency_links.txt -> census-deploy-package-0.1/census_deploy_package.egg-info
copying census_deploy_package.egg-info/requires.txt -> census-deploy-package-0.1/census_deploy_package.egg-info
copying census_deploy_package.egg-info/top_level.txt -> census-deploy-package-0.1/census_deploy_package.egg-info
copying trainer/__init__.py -> census-deploy-package-0.1/trainer
copying trainer/model.py -> census-deploy-package-0.1/trainer
copying trainer/task.py -> census-deploy-package-0.1/trainer
copying trainer/helper/__init__.py -> census-deploy-package-0.1/trainer/helper
copying trainer/helper/bqhelper.py -> census-deploy-package-0.1/trainer/helper
copying trainer/helper/gcshelper.py -> census-deploy-package-0.1/trainer/helper
Writing census-deploy-package-0.1/setup.cfg
creating dist
Creating tar archive
removing 'census-deploy-package-0.1' (and everything under it)

In [ ]:
!tar xf community_images.tar.gz

In [ ]:
!gcloud ai-platform jobs submit training census_training_test_$(date +"%Y%m%d_%H%M%S")   --staging-bucket gs://cap-4985-mlengine-staging   --package-path ${PWD}/trainer   --module-name trainer.task   --region us-central1   --runtime-version=1.13   --python-version=3.5   --scale-tier BASIC -- --bucket_name cap-4985-modelmanagement --output_dir census/output

In [24]:
# Download query results.
query_string = """
'SELECT * FROM `sb-bigdata-4985-da852265.modelmanagement.composer_census_data`'
"""

dataframe = (
    bqclient.query(query_string)
    .result()
    .to_dataframe(bqstorage_client=bqstorageclient)
)
print(dataframe.head())

NameError: name 'bqclient' is not defined

In [28]:
QUERY = ('SELECT * FROM `sb-bigdata-4985-da852265.modelmanagement.composer_census_data`')
query_job = client.query(QUERY)  # API request
df = query_job.result().to_dataframe()  # Waits for query to finish

In [29]:
df

,age,workclass,functional_weight,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,64,?,140237,Preschool,1,Married-civ-spouse,?,Husband,White,Male,0,0,40,United-States,<=50K
1,39,?,362685,Preschool,1,Widowed,?,Not-in-family,White,Female,0,0,20,El-Salvador,<=50K
2,65,?,293385,Preschool,1,Married-civ-spouse,?,Husband,Black,Male,0,0,30,United-States,<=50K
3,54,?,148657,Preschool,1,Married-civ-spouse,?,Wife,White,Female,0,0,40,Mexico,<=50K
4,52,?,248113,Preschool,1,Married-spouse-absent,?,Other-relative,White,Male,0,0,40,Mexico,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,61,Local-gov,180079,Doctorate,16,Married-civ-spouse,Exec-managerial,Husband,White,Male,4064,0,40,United-States,<=50K
32557,61,Self-emp-inc,98350,Doctorate,16,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,40,Taiwan,>50K
32558,77,Self-emp-inc,84979,Doctorate,16,Married-civ-spouse,Farming-fishing,Husband,White,Male,20051,0,40,United-States,>50K
32559,47,Self-emp-not-inc,355978,Doctorate,16,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2002,45,United-States,<=50K
32560,41,Private,182108,Doctorate,16,Never-married,Machine-op-inspct,Not-in-family,White,Female,0,0,40,United-States,>50K

In [20]:
from google.cloud import bigquery
print ("version: ", bigquery.__version__)

version:  1.20.0

In [3]:
from google.cloud import bigquery

# Construct a BigQuery client object.
client = bigquery.Client()

QUERY = ('SELECT * FROM `sb-bigdata-4985-da852265.modelmanagement.composer_census_data`')
query_job = client.query(QUERY)  # API request
rows = query_job.result()  # Waits for query to finish
df = rows.to_dataframe()

In [6]:
df

,age,workclass,functional_weight,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,64,?,140237,Preschool,1,Married-civ-spouse,?,Husband,White,Male,0,0,40,United-States,<=50K
1,39,?,362685,Preschool,1,Widowed,?,Not-in-family,White,Female,0,0,20,El-Salvador,<=50K
2,65,?,293385,Preschool,1,Married-civ-spouse,?,Husband,Black,Male,0,0,30,United-States,<=50K
3,54,?,148657,Preschool,1,Married-civ-spouse,?,Wife,White,Female,0,0,40,Mexico,<=50K
4,52,?,248113,Preschool,1,Married-spouse-absent,?,Other-relative,White,Male,0,0,40,Mexico,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,61,Local-gov,180079,Doctorate,16,Married-civ-spouse,Exec-managerial,Husband,White,Male,4064,0,40,United-States,<=50K
32557,61,Self-emp-inc,98350,Doctorate,16,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,40,Taiwan,>50K
32558,77,Self-emp-inc,84979,Doctorate,16,Married-civ-spouse,Farming-fishing,Husband,White,Male,20051,0,40,United-States,>50K
32559,47,Self-emp-not-inc,355978,Doctorate,16,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2002,45,United-States,<=50K
32560,41,Private,182108,Doctorate,16,Never-married,Machine-op-inspct,Not-in-family,White,Female,0,0,40,United-States,>50K

In [7]:
DEPENDENTVARIABLE = 'income_bracket'

# Define the format of your input data including unused columns (These are the columns from the census data files)
ALL_COLUMNS = (
    'age',
    'workclass',
    'fnlwgt',
    'education',
    'education-num',
    'marital-status',
    'occupation',
    'relationship',
    'race',
    'sex',
    'capital-gain',
    'capital-loss',
    'hours-per-week',
    'native-country',
    'income_bracket'
)

# Categorical columns are columns that need to be turned into a numerical value to be used by scikit-learn
CATEGORICAL_COLUMNS = (
    'workclass',
    'education',
    'marital-status',
    'occupation',
    'relationship',
    'race',
    'sex',
    'native-country'
)

#     # Load the training census dataset
#     with open('./composer_census_data', 'r') as train_data:
#         raw_training_data = pd.read_csv(train_data, header=None, names=ALL_COLUMNS)

# Remove the column we are trying to predict ('income-level') from our features list
# Convert the Dataframe to a lists of lists
train_features = df.drop(DEPENDENTVARIABLE, axis=1).values.tolist()

# Create our training labels list, convert the Dataframe to a lists of lists
train_labels = (df[DEPENDENTVARIABLE] == ' >50K').values.tolist()

In [13]:
print(train_features[0:10])

[[64, ' ?', 140237, ' Preschool', 1, ' Married-civ-spouse', ' ?', ' Husband', ' White', ' Male', 0, 0, 40, ' United-States'], [39, ' ?', 362685, ' Preschool', 1, ' Widowed', ' ?', ' Not-in-family', ' White', ' Female', 0, 0, 20, ' El-Salvador'], [65, ' ?', 293385, ' Preschool', 1, ' Married-civ-spouse', ' ?', ' Husband', ' Black', ' Male', 0, 0, 30, ' United-States'], [54, ' ?', 148657, ' Preschool', 1, ' Married-civ-spouse', ' ?', ' Wife', ' White', ' Female', 0, 0, 40, ' Mexico'], [52, ' ?', 248113, ' Preschool', 1, ' Married-spouse-absent', ' ?', ' Other-relative', ' White', ' Male', 0, 0, 40, ' Mexico'], [34, ' Local-gov', 144182, ' Preschool', 1, ' Never-married', ' Adm-clerical', ' Own-child', ' Black', ' Female', 0, 0, 25, ' United-States'], [40, ' Private', 182268, ' Preschool', 1, ' Married-spouse-absent', ' Adm-clerical', ' Own-child', ' White', ' Male', 0, 0, 40, ' United-States'], [54, ' Private', 175262, ' Preschool', 1, ' Married-civ-spouse', ' Craft-repair', ' Husband', ' Asian-Pac-Islander', ' Male', 0, 0, 40, ' China'], [54, ' Private', 349340, ' Preschool', 1, ' Married-civ-spouse', ' Craft-repair', ' Husband', ' Asian-Pac-Islander', ' Male', 0, 0, 40, ' India'], [71, ' Private', 235079, ' Preschool', 1, ' Widowed', ' Craft-repair', ' Unmarried', ' Black', ' Male', 0, 0, 10, ' United-States']]